body { background: #b3fb7b; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 24px; display: flex; }
.block-token-0 { color: #491396; font-size: 12px; margin-bottom: 5px; }
.block-config-1 { color: #b98fa3; font-size: 14px; margin-bottom: 5px; }
.block-cart-2 { color: #be152; font-size: 16px; margin-bottom: 5px; }
.block-search-3 { color: #7057bd; font-size: 20px; margin-bottom: 5px; }
.block-router-4 { color: #f18c66; font-size: 14px; margin-bottom: 5px; }